* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* start of header attributes */
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightseagreen;
    color: white;
    margin: 0;
}

.header h1 {
    font-weight: bold;
    display: inherit;
    margin:0;
    font-size: 36px;
    color: white;
    width: 100%;
    padding: 25px 0 0 50px;
}

.header nav {
    margin: 0 0 0 200px;
    display: inline-flex;
    flex: wrap;
    float: center right inline-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.header nav ul {
    list-style: none;
    display: inherit;
    position: right center;
    flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header nav ul li {
    display: inline-flex;
    margin: 0;
    padding: 25px;
    flex-wrap: wrap;
}

/* start of hero */

.body {
    background-color: navajowhite;
    position: relative;
}

.hero {
    background-image: url(../images/PivotalSaintLogo.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0 0 0 0;
}

.hero h1 {
    float: right;
    text-align: right;
    font-size: 24px;
    color: lightseagreen;
    position: bottom;
    padding: 400px 25px 0 0;
    margin: 0;
}

a { 
    color: white;
}

p {
    font-size: 14px;
}

.about-the-author {
    display: inline-flex;
    border: solid;
    flex-wrap: wrap;
    border: solid;
    border-width: 6px;
    width: 100%;
    padding: 2px;
    background-color: lightseagreen;
}

.headshot {
    flex: 1;
    flex-wrap: wrap;
}



.portfolio-work {
    margin: 0;
    align-items: center;
    border: solid;
    border-width: 6px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center space-around space-evenly; 
}

.smaller-project {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 2px black solid;
}

.smallimages {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    position: absolute center;
    background: lightseagreen;
    width: 100%;
    margin: 0;
    border: solid;
    border-width: 6px;
    border-color: black;
}

.footer div {
    position: center;
    font-size: 24px;
    width: 100%
}

.footer p {
    flex: 1;
}

.email {

}

.footer h1 {
    flex: wrap;
    text-align: center;
    font-size: 36px;
}

.footer h1 {
    color: white;

}

@media screen and (max-width: 980px){
    }