* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* start of header attributes */
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightseagreen;
    color: white;
    margin: 0;
    border: solid;
    border-width: 6px 6px 0 6px;

}

.header h1 {
    font-weight: bold;
    display: inherit;
    margin:0;
    font-size: 36px;
    color: white;
    width: 100%;
    padding: 25px 0 0 50px;
}

.header nav {
    margin: 0 0 0 200px;
    display: inline-flex;
    flex: wrap;
    float: center right inline-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.header nav ul {
    list-style: none;
    display: inherit;
    position: right center;
    flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header nav ul li {
    display: inline-flex;
    margin: 0;
    padding: 25px;
    flex-wrap: wrap;
}

/* start of hero */

.body {
    background-color: navajowhite;
    position: relative;
}

.hero {
    background-image: url(../images/PivotalSaintLogo.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    border: solid;
    border-width: 6px 6px 3px 6px;
    border-color: white;
    padding: 0 0 0 0;
}

.hero h1 {
    float: right;
    text-align: right;
    font-size: 24px;
    color: lightseagreen;
    position: bottom;
    padding: 400px 25px 0 0;
    margin: 0;
}

a { 
    color: white;
}

p {
    font-size: 14px;
}

.about-the-author {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color: white;
    align-items: stretch;
    border-width: 6px;
    width: 100%;
    background-color: lightseagreen;
}

.paragraph {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.headshot-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: flex-end;
    max-width: 100%;
    max-height: 100%;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.project-header {
    display: inline-block;
    position: center;
    font-size: 36px;
}

.portfolio-work {
    margin: 0;
    align-items: center;
    border: solid;
    border-color: white;
    border-width: 0 6px 6px 6px;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.bigger-project {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    min-width: 400px;
    width: 100%;
    height: 100%;
    margin: 4px 4px 4px 4px;
}

.bigimage {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    max-height: 600px;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.bigimage:hover {
    border: solid;
    border-color: lightseagreen;
}

.smaller-project {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    min-width: 200px;
    width: 100%;
    height: 100%;
    margin: 4px 4px 4px 4px;
}

.smallimages:hover {
    border: solid;
    border-color: lightseagreen;
}

.smallimages {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 400px;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.footer {
    position: center;
    background: lightseagreen;
    width: 100%;
    margin: 0;
    border: solid;
    border-width: 6px;
    border-color: white;
}

.footer div {
    position: center;
    font-size: 24px;
    width: 100%
}

.footer p {
    flex: 1;
}

.footer h1 {
    flex: wrap;
    text-align: center;
    font-size: 36px;
}

.footer h1 {
    color: white;

}

@media screen and (max-width: 801px) {
    .bigimage {
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        max-height: 400px;
        margin-top: 4px;
        margin-left: 4px;
        margin-bottom: 4px;
        margin-right: 4px;
        border: solid;
        border-color: white;
        border-width: 2px 2px 2px 2px;
    }
}

@media screen and (max-width: 801px) {
    .headshot-image {
        display: flex;
        flex-wrap: wrap;
        max-width: 200px;
        max-height: 200px;
        margin-top: 4px;
        margin-left: 4px;
        margin-bottom: 4px;
        margin-right: 4px;
    }
}